<b>

<p>
<center>
<font size="6">
Visualization of Complex Data Project 1
</font>
</center>
</p>

<p>
<center>
<font size="5">
Military, Health and Education Expenditure of top countries 
</font>
</center>
</p>

<p>
<center>
<font size="3">
Visualization of Complex, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Voratham Tiabrat
</font>
</center>
</p>

</b>

In [1]:
#Clean Data 

import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#import the dataset from each excel's data sheet without excel header description
#Military Spending
AllMilitarySpend = pd.read_excel('Military Spending Dataset.xlsx', header = 5, sheet_name = "Current USD", index_col = 0) 
AllMSPercentGDP = pd.read_excel('Military Spending Dataset.xlsx', header = 5, sheet_name = "Share of GDP", index_col = 0) 
AllMSPerCapita = pd.read_excel('Military Spending Dataset.xlsx', header = 6, sheet_name = "Per capita", index_col = 0)
AllMSPercent = pd.read_excel('Military Spending Dataset.xlsx', header = 7, sheet_name = "Share of Govt. spending", index_col = 0)
#GDP
AllGDP = pd.read_csv('GDP.csv', header = 2, index_col = 0)
#Health Spending
AllHSGDP = pd.read_csv('Current health expenditure of GDP.csv', header = 2, index_col = 0)
AllHSPerCapita = pd.read_csv('Current health expenditure per capita.csv', header = 2, index_col = 0)
#Education Spending
AllESGDP = pd.read_excel('Government expenditure on education of GDP.xls', header = 3, sheet_name = "Data",index_col = 0)

#Save 10 countries contain just only data from 2013 to 2018 in new files
#Note! MSPercentGDP and MSPercent in the excel file is %, when open in python it /100 to be a percent. Therefore have to compensate it by *100 
MilitarySpend = AllMilitarySpend.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],[2010,2011,2012,2013,2014]]
MSPercentGDP = (AllMSPercentGDP.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],[2010,2011,2012,2013,2014]])*100
MSPerCapita = AllMSPerCapita.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],[2010,2011,2012,2013,2014]]  
MSPercent = (AllMSPercent.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],[2010,2011,2012,2013,2014]])*100
GDP = AllGDP.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran, Islamic Rep.','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],['2010','2011','2012','2013','2014']] 
GDP.rename(index={'Iran, Islamic Rep.':'Iran'}, inplace=True)
HSGDP = AllHSGDP.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran, Islamic Rep.','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],['2010','2011','2012','2013','2014']]  
HSGDP.rename(index={'Iran, Islamic Rep.':'Iran'}, inplace=True)
HSPerCapita = AllHSPerCapita.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran, Islamic Rep.','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],['2010','2011','2012','2013','2014']]  
HSPerCapita.rename(index={'Iran, Islamic Rep.':'Iran'}, inplace=True)
ESGDP = AllESGDP.loc[['Argentina','Australia','Austria','Brazil','France','Germany','Indonesia','Italy','Iran, Islamic Rep.','Mexico','Netherlands','New Zealand','Norway','South Africa','Sweden'],['2010','2011','2012','2013','2014']]  
ESGDP.rename(index={'Iran, Islamic Rep.':'Iran'}, inplace=True)


#Check whether any datasets have null or not
MilitarySpend.info()
MSPercentGDP.info()
MSPerCapita.info()
MSPercent.info()
GDP.info()
HSGDP.info()
HSPerCapita.info()
ESGDP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     object
 1   2011    15 non-null     object
 2   2012    15 non-null     object
 3   2013    15 non-null     object
 4   2014    15 non-null     object
dtypes: object(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     object
 1   2011    15 non-null     object
 2   2012    15 non-null     object
 3   2013    15 non-null     object
 4   2014    15 non-null     object
dtypes: object(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     object
 1   2011    15 non-null     object
 2   2012    15 non-null     object
 3   2013    15 non-null     object
 4   2014    15 non-null     object
dtypes: object(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     object
 1   2011    15 non-null     object
 2   2012    15 non-null     object
 3   2013    15 non-null     object
 4   2014    15 non-null     object
dtypes: object(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     float64
 1   2011    15 non-null     float64
 2   2012    15 non-null     float64
 3   2013    15 non-null     float64
 4   2014    15 non-null     float64
dtypes: float64(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     float64
 1   2011    15 non-null     float64
 2   2012    15 non-null     float64
 3   2013    15 non-null     float64
 4   2014    15 non-null     float64
dtypes: float64(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     float64
 1   2011    15 non-null     float64
 2   2012    15 non-null     float64
 3   2013    15 non-null     float64
 4   2014    15 non-null     float64
dtypes: float64(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Argentina to Sweden
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    15 non-null     float64
 1   2011    15 non-null     float64
 2   2012    15 non-null     float64
 3   2013    15 non-null     float64
 4   2014    15 non-null     float64
dtypes: float64(5)
memory usage: 720.0+ bytes

In [2]:
# Creating columns name Country same as index
GDP['Country'] = GDP.index
HSGDP['Country'] = HSGDP.index
HSPerCapita['Country'] = HSPerCapita.index
ESGDP['Country'] = ESGDP.index

#Setting Country to be the index as others sheet
GDP.set_index('Country', inplace=True)
HSGDP.set_index('Country', inplace=True)
HSPerCapita.set_index('Country', inplace=True)
ESGDP.set_index('Country', inplace=True)

#Changing columns name from obj to int
GDP.columns = GDP.columns.astype(int)
HSGDP.columns = HSGDP.columns.astype(int)
HSPerCapita.columns = HSPerCapita.columns.astype(int)
ESGDP.columns = ESGDP.columns.astype(int)

In [3]:
ESGDP

                 2010     2011     2012     2013     2014
Country
Argentina     5.01971  5.29063  5.34583  5.43661  5.36144
Australia     5.55917  5.08313  4.87765  5.23801  5.17368
Austria       5.70048  5.59227  5.48040  5.54711  5.44898
Brazil        5.64880  5.73741  5.85510  5.83885  5.94848
France        5.69251  5.51830  5.45642  5.50028  5.51206
Germany       4.91368  4.80780  4.93331  4.93497  4.93113
Indonesia     2.81228  3.18944  3.40748  3.35904  3.28801
Italy         4.35239  4.14407  4.08391  4.16472  4.07525
Iran          3.70918  3.48497  3.16859  3.06795  2.80135
Mexico        5.15922  5.10565  5.10310  4.69605  5.26134
Netherlands   5.55580  5.52617  5.47565  5.59188  5.52931
New Zealand   7.00241  6.93655  7.15268  6.70208  6.34647
Norway        6.74046  6.44743  7.36425  7.47476  7.68074
South Africa  5.72174  5.96275  6.37164  6.01354  6.04662
Sweden        6.62199  6.49112  7.65619  7.71774  7.68125

In [4]:
#Change GDP unit from $ to Millions$
GDP = GDP/1000000

#Health Spending
HealthSpend = HSGDP*GDP/100
#Education Spending
EducationSpend = ESGDP*GDP/100

#Finding Population
Population = MilitarySpend*1000000/MSPerCapita

#Education Spending Per Capita = Education Spending % GDP * GDP Per Capita
ESPerCapita = EducationSpend*1000000/Population

#GDP Per Capita
GDPPerCapita = GDP*1000000/Population

In [5]:
#Military Spending Growing
#Fixed
MSFixedGrowing = MilitarySpend.iloc[:,-1]-MilitarySpend.iloc[:,0]
#Percent 
MSPercentGrowing = (MilitarySpend.iloc[:,-1]-MilitarySpend.iloc[:,0])/MilitarySpend.iloc[:,0]*100

#Health Spending Growing
#Fixed
HSFixedGrowing = HealthSpend.iloc[:,-1]-HealthSpend.iloc[:,0]
#Percent 
HSPercentGrowing = (HealthSpend.iloc[:,-1]-HealthSpend.iloc[:,0])/HealthSpend.iloc[:,0]*100

#Education Spending Growing
#Fixed
ESFixedGrowing = EducationSpend.iloc[:,-1]-EducationSpend.iloc[:,0]
#Percent 
ESPercentGrowing = (EducationSpend.iloc[:,-1]-EducationSpend.iloc[:,0])/EducationSpend.iloc[:,0]*100

In [6]:
#Creating Dataframe
Growing = pd.DataFrame(columns = ['MSFixedGrowing', 'MSPercentGrowing','HSFixedGrowing','HSPercentGrowing','ESFixedGrowing','ESPercentGrowing'])
Growing['MSFixedGrowing'] = MSFixedGrowing
Growing['MSPercentGrowing'] = MSPercentGrowing
Growing['HSFixedGrowing'] = HSFixedGrowing
Growing['HSPercentGrowing'] = HSPercentGrowing
Growing['ESFixedGrowing'] = ESFixedGrowing
Growing['ESPercentGrowing'] = ESPercentGrowing

In [7]:
Growing

,MSFixedGrowing,MSPercentGrowing,HSFixedGrowing,HSPercentGrowing,ESFixedGrowing,ESPercentGrowing
Country,,,,,,
Argentina,1504.09,43.279,6871.399521,18.834664,6953.445446,32.699217
Australia,2566.02,11.052,36082.626224,37.278016,12207.125217,19.158714
Austria,86.808,2.69728,5782.616504,14.436535,1744.513181,7.809003
Brazil,-1343.33,-3.95063,50955.177840,23.724470,21319.573324,17.086450
France,1831.82,2.96499,35285.414269,11.944015,6782.275192,4.508568
Germany,-152.848,-0.330443,51842.301391,13.871453,24635.181009,14.761685
Indonesia,2265.89,48.5891,5410.192932,24.198471,8054.716180,37.930675
Italy,-4319.79,-13.4906,3497.403708,1.830415,-4890.674143,-5.265540
Iran,-3660.17,-26.9899,-2862.789437,-8.701424,-5895.132415,-32.630570
Mexico,2766.18,46.9067,11952.410034,19.646283,14589.383842,26.733068
Netherlands,-887.92,-7.91336,8681.447517,9.857877,2232.221879,4.746086
New Zealand,343.401,17.7859,4860.352530,34.580708,2481.468784,24.175486
Norway,835.415,12.8552,8339.659477,21.860281,9381.383419,32.461313
South Africa,-295.699,-7.06034,-6.230740,-0.022386,-258.652980,-1.204352
Sweden,669.582,11.376,22611.549726,53.791428,11769.791094,35.882840

In [8]:
#Creating dataframe with all sepnding data
MilitarySpend

                 2010     2011     2012     2013     2014
Country
Argentina     3475.35  4051.93  4563.22  5137.97  4979.44
Australia     23217.7  26597.2  26216.6  24825.3  25783.7
Austria       3218.35  3409.72  3187.23  3229.07  3305.16
Brazil        34002.9  36936.2    33987  32874.8  32659.6
France        61781.7  64600.9  60035.2  62417.1  63613.6
Germany       46255.5  48140.3  46470.9  45930.5  46102.7
Indonesia     4663.37  5838.03   6531.1  8384.03  6929.26
Italy         32020.8  33828.8    29781  29957.4    27701
Iran          13561.3  14277.7    16494  11997.2  9901.11
Mexico         5897.2  6471.39  6978.78  7837.61  8663.38
Netherlands   11220.5  11647.9  10364.7  10226.3  10332.6
New Zealand   1930.75  2080.09  2094.95  2134.11  2274.15
Norway        6498.66  7232.26  7143.96  7391.83  7334.07
South Africa  4188.17  4594.15  4489.59  4118.21  3892.47
Sweden        5885.94  6324.75  6243.67  6528.74  6555.52

In [9]:
MeanSpend = pd.DataFrame(index=MilitarySpend.index)
MeanSpend['MilitarySpend'] = MilitarySpend.mean(axis=1)
MeanSpend['MSPercentGDP'] = MSPercentGDP.mean(axis=1)
MeanSpend['MSPerCapita'] = MSPerCapita.mean(axis=1)
MeanSpend['HealthSpend'] = HealthSpend.mean(axis=1)
MeanSpend['HSGDP'] = HSGDP.mean(axis=1)
MeanSpend['HSPerCapita'] = HSPerCapita.mean(axis=1)
MeanSpend['EducationSpend'] = EducationSpend.mean(axis=1)
MeanSpend['ESGDP'] = ESGDP.mean(axis=1)
MeanSpend['ESPerCapita'] = ESPerCapita.mean(axis=1)
MeanSpend['GDP'] = GDP.mean(axis=1)
MeanSpend['GDPPerCapita'] = GDPPerCapita.mean(axis=1)


#Calculating the mean of each sheets
MilitarySpend['Mean'] = MilitarySpend.mean(axis=1)
MSPercentGDP['Mean'] = MSPercentGDP.mean(axis=1)
MSPerCapita['Mean'] = MSPerCapita.mean(axis=1)
MSPercent['Mean'] = MSPercent.mean(axis=1)
GDP['Mean'] = GDP.mean(axis=1)
HealthSpend['Mean'] = HealthSpend.mean(axis=1)
HSGDP['Mean'] = HSGDP.mean(axis=1)
HSPerCapita['Mean'] = HSPerCapita.mean(axis=1)
EducationSpend['Mean'] = EducationSpend.mean(axis=1)
ESGDP['Mean'] = ESGDP.mean(axis=1)
ESPerCapita['Mean'] = ESPerCapita.mean(axis=1)

In [10]:
MeanSpend

,MilitarySpend,MSPercentGDP,MSPerCapita,HealthSpend,HSGDP,HSPerCapita,EducationSpend,ESGDP,ESPerCapita,GDP,GDPPerCapita
Country,,,,,,,,,,,
Argentina,4441.582679,0.815965,105.320524,43297.247948,8.405575,1082.994524,27346.180564,5.290844,648.904359,5.156236e+05,12238.953771
Australia,25328.088724,1.748507,1110.445094,124363.189786,8.703911,5670.524863,73721.759913,5.186328,3228.715150,1.426522e+06,62457.874026
Austria,3269.904996,0.777840,383.842670,43022.375717,10.220549,5108.765417,23365.597068,5.553848,2742.291154,4.209006e+05,49392.493390
Brazil,34092.112182,1.397921,170.098185,247424.371696,10.120816,1232.914432,141938.790986,5.805728,707.581438,2.443812e+06,12185.322893
France,62489.699492,2.256650,982.190592,314384.560916,11.346282,4813.402956,153320.582039,5.535914,2409.742727,2.770217e+06,43536.827391
Germany,46579.990725,1.270505,574.159359,397551.866861,10.871770,4946.190466,179331.085962,4.904178,2210.186027,3.656954e+06,45071.221800
Indonesia,6469.154761,0.735908,25.931084,26035.507341,2.979392,104.536812,28186.887715,3.211250,113.112548,8.738544e+05,3509.594261
Italy,30657.822673,1.424641,513.539563,193349.228503,8.941605,3222.674959,90053.346588,4.164068,1508.520990,2.162707e+06,36228.746754
Iran,13246.239051,2.514239,173.587316,33849.949845,6.581156,456.256272,16777.503426,3.246408,220.049705,5.142626e+05,6734.269928
Mexico,7169.671755,0.592166,59.213514,68174.038400,5.656582,563.794641,61030.190163,5.065072,504.748991,1.205678e+06,9970.496507
Netherlands,10758.408376,1.235009,640.983209,93393.729243,10.716600,5520.279185,48246.997413,5.535762,2873.889477,8.715034e+05,51912.201887
New Zealand,2102.807950,1.252180,470.378238,16773.544983,9.507131,3749.780693,12016.962942,6.828038,2687.161578,1.765716e+05,39463.445682
Norway,7120.157040,1.449133,1419.984905,43931.671803,8.937340,8817.917906,35180.948302,7.141528,7007.673445,4.915437e+05,98009.877207
South Africa,4256.517981,1.116914,80.353723,29185.928726,7.663267,550.601692,22967.345410,6.023258,433.445053,3.811670e+05,7195.750377
Sweden,6307.722060,1.148113,660.991507,58601.387250,10.469132,6089.770923,40369.871154,7.233658,4226.825095,5.567773e+05,58337.553130

In [12]:
writer = pd.ExcelWriter('Top16CountryExpenditures.xlsx', engine='xlsxwriter')
MilitarySpend.to_excel(writer, sheet_name='MilitarySpend(M$)')
MSPercentGDP.to_excel(writer, sheet_name='MSPercentGDP')
MSPerCapita.to_excel(writer, sheet_name='MSPerCapita($)')
MSPercent.to_excel(writer, sheet_name='MSPercent')
GDP.to_excel(writer, sheet_name='GDP(M$)')
HealthSpend.to_excel(writer, sheet_name='HealthSpend(M$)')
HSGDP.to_excel(writer, sheet_name='HSGDP')
HSPerCapita.to_excel(writer, sheet_name='HSPerCapita($)')
EducationSpend.to_excel(writer, sheet_name='EducationSpend(M$)')
ESGDP.to_excel(writer, sheet_name='ESGDP')
ESPerCapita.to_excel(writer, sheet_name='ESPerCapita($)')
Population.to_excel(writer, sheet_name='Population')
Growing.to_excel(writer, sheet_name='Growing')
MeanSpend.to_excel(writer, sheet_name='MeanSpend')
writer.save()
writer.close()